Palimpsest License (PMPL-1.0-or-later)

Copyright (c) {{YEAR}} {{AUTHOR}} <{{EMAIL}}>

This software is licensed under the Palimpsest License, Version 1.0
or (at your option) any later version.

See https://github.com/hyperpolymath/palimpsest-license for the full license text.
